# fixme_var = ""

# -----------------------------------------------------------------------------
# Cloudflare Secrets
# -----------------------------------------------------------------------------
cloudflare_api_token_secret_var         = ""
cloudflare_account_id                   = ""

# -----------------------------------------------------------------------------
# Vault Secrets
# -----------------------------------------------------------------------------

vault_token = ""


# -----------------------------------------------------------------------------
# Keycloak Secrets
# -----------------------------------------------------------------------------

keycloak_db_password                    = ""
keycloak_admin_username                 = ""
keycloak_admin_password                 = ""

# -----------------------------------------------------------------------------
# ArgoCD Secrets
# -----------------------------------------------------------------------------

argocd_admin_password                   = ""

# -----------------------------------------------------------------------------
# CMP Secrets
# -----------------------------------------------------------------------------

os_auth_url            = ""
os_project_name        = ""
os_username            = ""
os_password            = ""
os_user_domain_name    = ""
os_project_domain_name = ""
os_endpoint_type       = ""

aws_region        = ""
aws_s3_bucket     = ""
aws_s3_key_prefix = ""
aws_access_key_id = ""
aws_secret_key    = ""

nextauth_secret = ""

avatars_s3_access_key_id = ""
avatars_s3_secret_key = ""

discord_webhook_url = ""

# -----------------------------------------------------------------------------
# n8n Secrets
# -----------------------------------------------------------------------------
n8n_db_password    = ""
n8n_encryption_key = ""
